<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    
    <title>Mobil Karbantartás nyilvántartó</title>
</head>

<body style="background-color: lightgray">

<div class="container-fluid" style="background-color: lightgray">
    <h1 style="float: left">Karbantartásos ügyfelek:</h1>
    
    <nav class="nav justify-content-center">
        <a class="nav-link active" href="/" style="font-size: x-large">PC</a>
    </nav>
    
</div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
<div class="container-fluid">
    <table class="table table-hover table-bordered table-striped">
        <thead style="background-color: #d15406">
	        <tr>
	            <th scope="col" >Ügyfél neve</th>
                <th scope="col" >kiszállás ideje</th>
                <th scope="col" >Fűtés</th>
                <th scope="col" >Hűtés</th>
	            <th scope="col" >Megjegyzés</th>
	            <th scope="col" ></th>
	        </tr>
        </thead>
        <tbody>
		      <tr th:each="client,iter : ${clients}">
		          <th th:text="*{client.name}" scope="row"></th>
                  <th th:text="*{client.responseTime}" scope="row"></th>
                  <th th:if="${isHeating}" scope="row"><img src="checkmark.png" height="21" width="21"></th>
                  <th th:unless="${isHeating}" scope="row"><img src="xmark.png" height="21" width="21"></th> 
                  <th th:if="${isCooling}" scope="row"><img src="checkmark.png" height="21" width="21"></th>
                  <th th:unless="${isCooling}" scope="row"><img src="xmark.png" height="21" width="21"></th> 
                  <th th:text="*{client.comment}" scope="row"></th>
		          <th>
		          	<a th:href="@{'/edit/' + ${client.id}}" ><img src="edit.png" height="21" width="21"></a>
		          </th>
		      </tr>
        </tbody>
    </table>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>